.container{
    width: 800px;
    height: 1500px;
    border:1px solid rgb(64, 14, 245);
    
}
.box{
    width: 400px;
    height: 200px;
    border:1px solid rgb(0, 0, 0);
}
.box-1{
    background-color: rgb(55, 153, 133);

}
.box-2{
    background-color: rgb(194, 19, 19);
    position: relative;
    left: 60px;
    bottom: 100px;
    /* position: fixed; */
    /* right: 60px; */
    /* top: 10px; */
}
.box-3{
    background-color: rgb(85, 146, 16);

}
.box-4{
    background-color: rgb(0, 0, 0);

}